{% extends 'base.html.twig' %}

{% block title %}Listado de Estudiantes{% endblock %}

{% block body %}
    <h1>Listado de estudiantes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de documento</th>
                <th>Número de documento</th>
                <th>Fecha de nacimiento</th>
                <th>Carrera</th>
                <th>Publicado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.documentType }}</td>
                <td>{{ student.documentNumber }}</td>
                <td>{{ student.birthDate ? student.birthDate|date('d-m-Y') : '' }}</td>
                <td>{{ student.career }}</td>
                <td>{{ student.published ? student.published|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if student.published == null %}
                            <a class="btn btn-success btn-sm" href="{{ path('student_publish', {'id': student.id}) }}"><i class="bi bi-check-circle-fill"></i> Publicar</a>
                        {% else %}
                            <a class="btn btn-success btn-sm disabled" href="{{ path('student_publish', {'id': student.id}) }}"><i class="bi bi-check-circle-fill"></i> Publicar</a>
                        {% endif %}
                        <a class="btn btn-secondary btn-sm" href="{{ path('student_show', {'id': student.id}) }}"><i class="bi bi-eye-fill"></i> Ver</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron estudiantes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
