{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>DocumentType</th>
                <th>DocumentNumber</th>
                <th>BirthDate</th>
                <th>Mail</th>
                <th>Experience</th>
                <th>Career</th>
                <th>YearCareer</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.documentType }}</td>
                <td>{{ student.documentNumber }}</td>
                <td>{{ student.birthDate ? student.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ student.mail }}</td>
                <td>{{ student.experience }}</td>
                <td>{{ student.career }}</td>
                <td>{{ student.yearCareer }}</td>
                <td>{{ student.published ? student.published|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>
{% endblock %}
